* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 background-color:rgb(209, 174, 174);
  background-clip: content-box;
}
 
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
 
.container {
  border-radius: 8px;
  padding: 3rem;
}
 
input {
  width: 50%;
  font-size: 1.2rem;
  padding: 15px 4px;
  margin: 8px 0;
  border-radius: 8px;
}
 
label{
  font-weight: bold;
}
.btn {
  width: 40%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 15px 0;
  background-color: #0077EE;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
}
/* unvisited link */
.btn-reload {
  background-color: #2264dd;
  color: #010203;
  width: 40%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 15px 0;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
}
 
.center {
  text-align: center;
  margin: 24px 0;
}
 
p {
  margin: 10px 0;
}
 
.img-container {
  text-align: center;
}
 
.img-container img {
  height: 200px;
}
